@import "tailwindcss";

.section-item .section-item-header {
    top: -20px;
    opacity: 0;
    pointer-events: none;
}

.section-item:hover .section-item-header {
    top: 0;
    opacity: 1;
}

.section-item .section-item-footer {
    bottom: -20px;
    opacity: 0;
}

.section-item:hover .section-item-footer {
    bottom: 0;
    opacity: 1;
    pointer-events: none;
}

.watch-banner-filter {
    background: linear-gradient(transparent 70%, rgb(0, 0, 0));
}

/*  */

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #8b8c89;
    border-radius: 4px;
    outline: none;
    transition: all 0.1s ease-in-out;
    display: grid;
    place-content: center;
}
.custom-checkbox:checked {
    background-color: #ffffff;
}
.custom-checkbox::before {
    content: "";
    width: 10px;
    height: 6px;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    transform: rotate(-45deg) scale(0);
    transition: transform 0.1s ease-in-out;
    margin-top: -2px; /* Center alignment adjustment */
}
.custom-checkbox:checked::before {
    transform: rotate(-45deg) scale(1);
}
.custom-checkbox:focus-visible {
    outline: 2px solid #2196F3;
    outline-offset: 2px;
}