@import "tailwindcss";

div > .item-overlay {
    opacity: 0;
    pointer-events: none;
    transition: 500;
}

div:hover > .item-overlay {
    opacity: 100;
    pointer-events: all;
}

.watch-banner-filter {
    background: linear-gradient(transparent 70%, rgb(0, 0, 0));
}

.liked-anim {
    animation: liked_anim 1s ease;
}

@keyframes liked_anim {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
